*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.material-icons {
  color: whitesmoke;
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 1.5rem 1.5rem;
  margin: auto;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* sect1 */
.sect01 {
  background-color: #0a0119;
  position: relative;
  min-height: 100vh;
  padding: 0 10%;
}
ul {
  display: flex;
}
.section {
  display: block;
}
.header {
  font-size: 18px;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0119;
}
.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  margin-right: 30px;
  font-size: 14px;
}
.navbar:last-child {
  margin-right: 0 !important;
}
.navbar .material-icons {
  margin: auto 5px 3px 0;
}
.navbar a {
  text-decoration: none;
  letter-spacing: 3px;
  color: whitesmoke;
}
.navbar a:hover {
  color: whitesmoke;
}
.navbar:hover::after {
  width: 100%;
}
.navbar::after {
  content: "";
  position: relative;
  display: block;
  width: 0%;
  height: 2px;
  top: 3px;
  margin: auto;
  background: #3b82f6;
  transition: width 0.5s ease;
}
.hl {
  border: 0.5px solid whitesmoke;
}
.sect1 {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mySlides {
  display: none;
  text-align: left;
  color: rgb(226, 226, 226);
}
.mySlides h2 {
  margin-bottom: 50px;
  color: rgb(226, 226, 226);
  font-family: '', sans-serif;
  font-size: 60px;
  font-weight: 600;
}
.mySlides a {
  color:rgb(226, 226, 226);
  letter-spacing: 2px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
}
.primary-btn {
  display: inline-block;
  font-size: 15px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  padding: 14px 32px 12px;
  color: whitesmoke;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
.primary-btn:hover {
  color: whitesmoke;
  /* opacity: 0.8; */
}
.primary-btn::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-left: 2px solid #5751c7;
  border-top: 2px solid #5751c7;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
.primary-btn:hover:before {
  height: 100%;
  width: 100%;
}
.primary-btn::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border-right: 2px solid #5751c7;
  border-bottom: 2px solid #5751c7;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
.primary-btn:hover:after {
  height: 100%;
  width: 100%;
}
.indicator {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  border-right: 40px solid whitesmoke;
  height: 3px;
  width: 30px;
}
.indicator.active {
  border-right: 40px solid #5751c7;
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: "Signika", sans-serif;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-15px)
  }
}

/* sect2 */
.sect2 {
  min-height: 100vh;
  padding-top: 2%;
  background: white;
  font-family: "Play", sans-serif;
  margin: 0 10%;
}
.sect2-title {
  margin-bottom: 50px;
}
.sect2-title1 {
  display: inline !important;
  text-transform: capitalize;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 40;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sect2-title2 {
  display: inline !important;
  text-transform: capitalize;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 40;
  color: rgb(59, 130, 246);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sect2-title2 em {
  font-style: normal;
  font-weight: 600;
}
.sect2-title2:before {
  position: absolute;
  left: -60px;
  bottom: 0;
  width: 150px;
  height: 2px;
  content: "";
  background-color: #c50000;
}
.sect2-title2 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}
.sect2-title3 {
  display: inline !important;
  text-transform: capitalize;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 40;
  color: rgb(59, 130, 246);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sect2-title3 em {
  font-style: normal;
  font-weight: 600;
}
.sect2-title3:before {
  position: absolute;
  left: -120px;
  bottom: 0;
  width: 150px;
  height: 2px;
  content: "";
  background-color: #c50000;
}
.sect2-title3 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}
.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.project-pic {
  width: 40%;
}
.project-pic img {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.project-des {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-des-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0.5rem;
  padding: 0 !important;
  width: 550px;
  text-align: center;
}
.text-grey {
  color: grey;
  margin: auto 1rem auto 0;
}
.tech-stack-list img {
  width: 100%;
}
.used-tech {
  /* width: 40px; */
  height: 40px;
  /* margin-right: 2rem; */
  padding-right: 1rem;
}
.project-des-des {
  font-family: "Inter", sans-serif;
}
.sect2 .primary-btn::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-left: 2px solid #908fab;
  border-top: 2px solid #908fab;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
.sect2 .primary-btn::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border-right: 2px solid #908fab;
  border-bottom: 2px solid #908fab;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
.sect2 .primary-btn:hover:before {
  height: 100%;
  width: 100%;
}
.sect2 .primary-btn:hover:after {
  height: 100%;
  width: 100%;
}

/* sect3 */
.sect3 {
  /* padding-top: 12%; */
  /* min-height: 100vh; */
  background: #100028;
  font-family: "Play", sans-serif;
  padding: 3% 10%;
}
.skill {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3%;
}
.skill li {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  margin: 1em 2rem;
}
.skill li img {
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
}

/* sect4 */
.sect4 {
  /* min-height: 100vh; */
  background-image: linear-gradient(209deg,#7575a7, rgb(87, 65, 185));
  font-family: "Play", sans-serif;
  color: whitesmoke;
  padding: 2% 10%;
}
.text {
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1px;
}
.services__item {
  margin-bottom: 45px;
}
.services__item__icon {
  position: relative;
  height: 90px;
  width: 90px;
  line-height: 90px;
  text-align: center;
}
.services__item__icon:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #00bfe7;
  content: "";
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
.services__item__icon:hover:after {
  transform: rotate(45deg);
}
.services__item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 26px;
  margin-bottom: 15px;
}
.content-row {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  /* margin: 0 0 0 7%; */
}
.interest-item {
  width: 350px;
  margin: 10px
}
.line-break {
  width: 100%;
}

/* sect5 */
.sect5 {
  /* min-height: 100vh; */
  padding: 1% 10%;
  background: white;
  font-family: "Play", sans-serif;
}
.school {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
  margin-bottom: 50px;
  padding: 40px;
  border-radius: 3px;
}
.school-col {
  display: flex;
}
.school-logo {
  flex: 0 0 30%;
  margin-right: 20px;
}
.school-logo img {
  width: 100%;
  /* min-height: 200px; */
}
.school-des {
  flex: 0 0 70%;
  padding-left: 1.5rem;
  margin: auto 0;
}
.school-des h4 {
  font-weight: normal;
}
.school-des ul {
  display: block;
  padding-left: 1.5rem;
}

.sect2-mini-title {
  text-align: center;
  margin-bottom: 50px;
}
.sect2-mini-title1 {
  display: inline !important;
  text-transform: capitalize;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sect2-mini-title2 {
  display: inline !important;
  text-transform: capitalize;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: rgb(59, 130, 246);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sect2-mini-title-contact {
  text-align: center;
  margin-bottom: 30px;
}
.contact {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.contact .card {
  background: #fff;
  width: 260px;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
  border-radius: 3px;
}
.contact .card img {
  width: 50%;
  margin-bottom: 10px;
}
.contact .card a {
  text-decoration: none !important;
}
.author-name {
  text-align: left;
}
.author-name1 {
  display: inline !important;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.author-name2 {
  display: inline !important;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: rgb(59, 130, 246);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sect2-mini-title-exp {
  text-align: center;
  margin-bottom: 30px;
}
.exp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
  margin-bottom: 50px;
  padding: 40px;
  border-radius: 3px;
}
.work-card {
  margin-bottom: 1rem;
}
.company-title {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  display: flex;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.02);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.work-desc {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.work-title {
  margin-bottom: 0.1rem;
}
.work-text {
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 1000px) {
  .project {
    display: block;
  }
}