*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.material-icons {
  color: whitesmoke;
  cursor: pointer;
}
.main-container {
  padding: 0 8% 0 8%;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
.sect01 {
  background-color: #0a0119;
  min-height: 100vh;
}
.container {
  padding: 0 15% 0 15%;
  font-family: 'PLay', sans-serif;
  color: whitesmoke;
}
ul {
  display: flex;
}
.section {
  display: block;
}
.header {
  font-size: 18px;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  /* padding-top: 40px; */
  padding: 20px 0 20px 0;
  background-color: #0a0119;
  margin: 0 10% 0 10%;
}
.profile {
  font-family: 'Roboto';
  letter-spacing: 5px;
}
.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  margin-right: 30px;
  font-size: 14px;
}
.navbar:last-child {
  margin-right: 0 !important;
}
.navbar .material-icons {
  margin: auto 5px 3px 0;
}
.navbar a {
  text-decoration: none;
  letter-spacing: 3px;
  color: whitesmoke;
}
.navbar a:hover {
  color: whitesmoke;
}
.navbar:hover::after {
  width: 100%;
}
.navbar::after {
  content: "";
  position: relative;
  display: block;
  width: 0%;
  height: 2px;
  top: 3px;
  margin: auto;
  background: #3b82f6;
  transition: width 0.5s ease;
}
.hl {
  border: 0.5px solid whitesmoke;
  margin: 0 10% 0 10%;
}
.vSlide {
  text-align: center;
  font-size: 3em;
}
.mySlides {
  display: none;
  padding: 100px 100px;
  text-align: left;
  color: rgb(226, 226, 226);
}
.mySlides h2 {
  margin-bottom: 50px;
  color: rgb(226, 226, 226);
  font-family: '', sans-serif;
  font-size: 60px;
  font-weight: 600;
}
.mySlides a {
  color:rgb(226, 226, 226);
  letter-spacing: 2px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
}
.primary-btn {
  display: inline-block;
  font-size: 15px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  padding: 14px 32px 12px;
  color: whitesmoke;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
.primary-btn:hover {
  color: whitesmoke;
  /* opacity: 0.8; */
}
.primary-btn::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-left: 2px solid #5751c7;
  border-top: 2px solid #5751c7;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
.primary-btn:hover:before {
  height: 100%;
  width: 100%;
}
.primary-btn::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border-right: 2px solid #5751c7;
  border-bottom: 2px solid #5751c7;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
.primary-btn:hover:after {
  height: 100%;
  width: 100%;
}
.indicator {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  border-right: 40px solid whitesmoke;
  height: 3px;
  width: 30px;
}
.indicator.active {
  border-right: 40px solid #5751c7;
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: "Signika", sans-serif;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-15px)
  }
}

/* sect2 */
.sect2 {
  min-height: 100vh;
  padding-top: 2%;
  background: white;
  font-family: "Play", sans-serif;
}
.sect2 .container {
  padding-bottom: 0;
}
.sub-container {
  padding: 0 100px;
}
.sect2-title {
  margin-bottom: 50px;
}
.sect2-title .sect2-title1 {
  display: inline !important;
  text-transform: capitalize;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sect2-title .sect2-title2 {
  display: inline !important;
  text-transform: capitalize;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: rgb(59, 130, 246);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sect2-title .sect2-title2 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
.sect2-title .sect2-title2 em {
  font-style: normal;
  font-weight: 600;
}
.sect2-title .sect2-title2:before {
  position: absolute;
  left: -80px;
  bottom: 0;
  width: 150px;
  height: 2px;
  content: "";
  background-color: #c50000;
}
.sect2-title .sect2-title2 span {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}
.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.project-pic {
  width: 50%;
}
.project-pic img {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.project-des {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  width: 50%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sect2 .primary-btn::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-left: 2px solid #908fab;
  border-top: 2px solid #908fab;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
.sect2 .primary-btn::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border-right: 2px solid #908fab;
  border-bottom: 2px solid #908fab;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
.sect2 .primary-btn:hover:before {
  height: 100%;
  width: 100%;
}
.sect2 .primary-btn:hover:after {
  height: 100%;
  width: 100%;
}

/* sect3 */
.sect3 {
  /* padding-top: 12%; */
  min-height: 100vh;
  padding-top: 3%;
  background: #100028;
  font-family: "Play", sans-serif;
}
/* .sect3 .skill-row {
  display: flex;
  padding: 0 300px;
  justify-content: space-between;
}
.sect3 .skills {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.sect3 img {
  float: left;
  width: 80px;
  height: 80px;
  object-fit: cover;
  background-size: cover;
} */
.skills {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}
.skills li {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  margin: 1em 2rem;
}
.skills li img {
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
}

/* sect4 */
.sect4 {
  padding-top: 3%;
  /* background-image: linear-gradient(59deg,rgb(40, 37, 53),#3b2064); */
  /* background-color: #0a0119; */
  /* background: #18222F; */
  min-height: 100vh;
  background-image: linear-gradient(209deg,#7575a7, rgb(87, 65, 185));
  font-family: "Play", sans-serif;
}
.text {
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1px;
}
.services__item {
  margin-bottom: 45px;
}
.services__item__icon {
  position: relative;
  height: 90px;
  width: 90px;
  line-height: 90px;
  text-align: center;
}
.services__item__icon:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #00bfe7;
  content: "";
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
.services__item__icon:hover:after {
  transform: rotate(45deg);
}
.services__item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 26px;
  margin-bottom: 15px;
}

/* sect4 */
.sect4-contents {
  margin-top: 35px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.sub-container2 {
  padding: 0 0 0 100px;
}

/* sect5 */
.sect5 {
  min-height: 100vh;
  padding-top: 2%;
  background: white;
  font-family: "Play", sans-serif;
}